:root{
	--icon-size:48px;
	--color:#111;
	--background:#eee;
	--error:#b00020;
	--lowlight:#9e9e9e;
	--timing-function:cubic-bezier(.4,0,.2,1);
}
*,*::before,*::after{
	-webkit-appearance:none;
	appearance:none;
	background:none;
	background-clip:padding-box;
	border:0;
	border-radius:0;
	box-sizing:border-box;
	color:var(--color);
	font-family:Roboto,arial,sans-serif;
	-webkit-font-smoothing:antialiased;
	font-style:normal;
	font-weight:400;
	list-style:none;
	margin:0;
	outline:0;
	padding:0;
	-webkit-tap-highlight-color:rgba(0,0,0,0);
	text-align:left;
	text-decoration:none;
	text-indent:0;
	text-rendering:auto;
}
*>*,*::before,*::after{
	color:inherit;
	font-family:inherit;
	font-size:inherit;
}
*>*{
	font-style:inherit;
	font-weight:inherit;
}
::-webkit-inner-spin-button,::-webkit-outer-spin-button{
	-webkit-appearance:none;
	margin:0;
}
body{
	background:var(--background);
	color:var(--color);
	font-size:14px;
	min-height:100vh;
	padding:16px;
	user-select:none;
}
body.flex{
	align-items:center;
	display:flex;
	justify-content:center;
}
body ::-webkit-scrollbar{
	width:4px;
}
body ::-webkit-scrollbar-thumb{
	background:rgba(0,0,0,0);
}
body :hover::-webkit-scrollbar-thumb{
	background:var(--lowlight);
}
section#image{
	background:#fff;
	border-radius:0 0 4px 4px;
	box-shadow:0 5px 5px -3px rgba(0,0,0,.2),0 8px 10px 1px rgba(0,0,0,.14),0 3px 14px 2px rgba(0,0,0,.12);
	display:flex;
	flex-wrap:wrap;
	justify-content:space-between;
	overflow:hidden;
	position:relative;
	width:1200px;
}
section#image>svg,
section#image>canvas{
	height:630px;
	width:1200px;
}
section#image>canvas{
	left:0;
	position:absolute;
	opacity:0;
	top:0;
}
section#image>p,
section#image>button{
	margin:16px;
}
section#image>p>a,
section#image>button{
	background:var(--color);
	border-radius:4px;
	box-shadow:0 1px 3px rgba(0,0,0,.12),0 1px 2px rgba(0,0,0,.24);
	cursor:pointer;
	display:block;
	font-weight:500;
	color:#fff;
	line-height:36px;
	padding:0 16px 0 8px;
	text-transform:uppercase;
}
section#image>p>a>svg,
section#image>button>svg{
	fill:currentcolor;
	height:24px;
	margin:6px 4px 6px 0;
	pointer-events:none;
	vertical-align:top;
	width:24px;
}
section#filters{
	background:#fff;
	border-radius:4px;
	box-shadow:0 5px 5px -3px rgba(0,0,0,.2),0 8px 10px 1px rgba(0,0,0,.14),0 3px 14px 2px rgba(0,0,0,.12);
	display:flex;
	flex-wrap:wrap;
	gap:2px 8px;
	justify-content:flex-start;
	margin:0 auto 16px;
	padding:16px;
	max-width:1200px;
}
section#filters>label{
	flex:1 1 calc((100% - 16px) / 3);
	font-weight:bold;
	order:1;
}
section#filters>input{
	border:1px solid;
	border-radius:4px;
	flex:1 1 calc((100% - 16px) / 3);
	height:30px;
	line-height:28px;
	order:2;
	padding:0 5px;
	transition:border .225s var(--timing-function);
}
section#filters>input:invalid{
	border-color:var(--error);
}
section#filters>input+p{
	flex:1 1 calc((100% - 16px) / 3);
	font-size:12px;
	order:3;
	padding:2px 0 0 4px;
}
section#filters>ul{
	margin:14px 16px 0 0;
	order:4;
}
section#filters>ul>li{
	display:inline-block;
	font-weight:bold;
	margin-right:6px;
	vertical-align:top;
}
section#filters>ul>li[id],
section#filters>ul>li[data-sort]{
	cursor:pointer;
}
section#filters>ul>li[id]{
	border-right:1px solid var(--lowlight);
	padding-right:6px;
}
section#filters>ul svg{
	fill:var(--lowlight);
	height:24px;
	pointer-events:none;
	vertical-align:middle;
	transition:fill .225s var(--timing-function);
	width:24px;
}
body[data-sort=name] section#filters li[data-sort=name]>svg,
body[data-sort=color] section#filters li[data-sort=color]>svg,
body[data-sort=length] section#filters li[data-sort=length]>svg,
body[data-sort=luminance] section#filters li[data-sort=luminance]>svg,
body[data-sort=ratio] section#filters li[data-sort=ratio]>svg,
body[data-theme=light] section#filters li#theme>svg{
	fill:var(--color);
}
section#filters>p:last-of-type{
	font-weight:bold;
	line-height:24px;
	margin:14px 0 0 auto;
	order:5;
}
ol#grid{
	display:grid;
	font-size:12px;
	gap:16px;
	grid-template-columns:repeat(auto-fill,minmax(220px,1fr));
	margin:0 auto;
	max-width:1200px;
}
ol#grid>li{
	border-radius:4px;
	box-shadow:0 5px 5px -3px rgba(0,0,0,.2),0 8px 10px 1px rgba(0,0,0,.14),0 3px 14px 2px rgba(0,0,0,.12);
	display:flex;
	flex-direction:column;
	order:1;
	overflow:hidden;
	padding:16px;
	transition:background .225s var(--timing-function),color .225s var(--timing-function);
}
body[data-sort=color]>ol#grid>li{
	order:var(--order-color);
}
body[data-sort=length]>ol#grid>li{
	order:var(--order-length);
}
body[data-sort=luminance]>ol#grid>li{
	order:var(--order-luminance);
}
body[data-sort=ratio]>ol#grid>li{
	order:var(--order-ratio);
}
body[data-theme=dark]>ol#grid>li{
	background:var(--color);
	color:#fff;
}
body[data-theme=light]>ol#grid>li{
	background:#fff;
	color:var(--color);
}
ol#grid>li.hide{
	display:none;
}
ol#grid svg{
	display:block;
	margin:12px auto;
	order:2;
	height:var(--icon-size);
	width:var(--icon-size);
}
ol#grid p{
	text-align:center;
	white-space:nowrap;
}
ol#grid p:first-of-type{
	font-weight:500;
	margin:0 0 4px;
	order:1;
}
ol#grid p+p{
	margin:4px 0 0;
	order:4;
}
body[data-sort=color]>ol#grid p[data-sort=color],
body[data-sort=length]>ol#grid p[data-sort=length],
body[data-sort=luminance]>ol#grid p[data-sort=luminance],
body[data-sort=ratio]>ol#grid p[data-sort=ratio]{
	font-weight:500;
	order:2;
}